.entity-paragraphs-item {
  margin-bottom: 3em
}

.entity-paragraphs-item.center {
  margin: 0 auto 3em;
  float: none
}

.paragraphs-item-p-hero>.content {
  position: relative
}

.paragraphs-item-p-hero>.content .player {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%
}

.paragraphs-item-p-hero>.content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.paragraphs-item-p-hero>.content .field-name-field-p-hero-image img {
  width: 100%
}

.paragraphs-item-p-hero .group-overlay-text {
  position: absolute;
  background-color: #ffffff;
  padding: 40px
}

.paragraphs-item-p-hero .group-overlay-text .field-name-field-p-hero-superhead {
  font-size: 2.4em;
  font-weight: 400;
  letter-spacing: -.5px;
  line-height: 1.2em
}

.paragraphs-item-p-hero.overlay-top .group-overlay-text {
  top: 20px
}

.paragraphs-item-p-hero.overlay-bottom .group-overlay-text {
  bottom: 20px
}

.paragraphs-item-p-hero.overlay-left .group-overlay-text {
  left: 20px
}

.paragraphs-item-p-hero.overlay-right .group-overlay-text {
  right: 20px
}

.paragraphs-item-p-hero a.play-video {
  display: block;
  position: absolute;
  font-size: 0;
  right: 45%;
  top: 45%;
  color: #ffffff
}

.paragraphs-item-p-hero a.play-video:focus,
.paragraphs-item-p-hero a.play-video:hover {
  color: #b6b1a9;
  text-decoration: none
}

.paragraphs-item-p-hero a.play-video i:before {
  font-size: 140px
}

.paragraphs-item-p-hero .field-name-field-p-hero-video:nth-child(2) {
  display: none
}

.page-node .content-body .paragraphs-item-p-hero .field-name-field-p-hero-headline,
.page-node .content-body .paragraphs-item-p-hero .field-name-field-p-hero-superhead {
  margin-bottom: 0
}

.paragraphs-item-p-buttons {
  text-align: center
}

.paragraphs-item-p-buttons .field-item {
  margin-bottom: 30px
}

.paragraphs-item-p-callout {
  text-align: center
}

.paragraphs-item-p-callout p {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 600
}

.paragraphs-item-p-cards .field-item .field-collection-view {
  padding: 0 10px
}

.paragraphs-item-p-cards .field-item:first-child .field-collection-view {
  padding: 0 10px 0 0
}

.paragraphs-item-p-cards .field-item:last-child .field-collection-view {
  padding: 0 0 0 10px
}

.paragraphs-item-p-cards img {
  margin: 0 auto;
  display: block
}

.paragraphs-item-p-wysiwyg .group-left-column {
  margin-left: 0
}

.paragraphs-item-p-wysiwyg .group-right-column {
  text-align: center
}

.paragraphs-item-p-wysiwyg .group-p-wysiwyg-body {
  margin-left: 0
}

.paragraphs-item-p-menu .group-featured-image {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  max-width: 270px
}

.paragraphs-item-p-menu .group-featured-image div.field {
  margin-bottom: 0
}

.paragraphs-item-p-buttons .btn a,
.paragraphs-item-p-buttons a.btn {
  padding: 1.5em 2em;
  font-size: 1.2em;
  line-height: 1.2em
}

@media (max-width: 767px) {
  .paragraphs-item-p-hero .group-overlay-text {
    position: static
  }
  .paragraphs-item-p-hero a.play-video {
    right: 43%;
    top: 40%
  }
  .paragraphs-item-p-cards .field-item .field-collection-view,
  .paragraphs-item-p-cards .field-item:first-child .field-collection-view,
  .paragraphs-item-p-cards .field-item:last-child .field-collection-view {
    padding: 0
  }
  .paragraphs-item-p-cards .field-name-field-p-card-cta,
  .paragraphs-item-p-cards .field-name-field-p-card-text {
    padding: 0 1em
  }
  .paragraphs-item-p-cards .group-card-title {
    padding: 0 0.6em
  }
  .paragraphs-item-p-menu {
    padding: 0 1em
  }
  .paragraphs-item-p-menu .group-menu-column.field-group-div {
    display: none
  }
  .paragraphs-item-p-buttons {
    padding: 0 1em
  }
  .paragraphs-item-p-buttons .btn a,
  .paragraphs-item-p-buttons a.btn {
    width: 100%;
    padding: 1.5em 0
  }
  .paragraphs-item-p-wysiwyg {
    padding: 0 1em
  }
}

@media (max-width: 480px) {
  .paragraphs-item-p-hero a.play-video {
    right: 37%;
    top: 30%
  }
}
