.entity-paragraphs-item {
  margin-bottom: 3em;
}
.entity-paragraphs-item.center, .entity-paragraphs-item.center.span12:first-child {
  margin: 0 auto 3em;
  float: none;
  max-width: 1170px;
}
@media (max-width: 1169px) {
  .entity-paragraphs-item {
    padding-right: 30px;
    padding-left: 30px;
  }
}
