.entity-paragraphs-item {
  margin-bottom: 3em;

  &.center,
  &.center.span12:first-child {
    margin: 0 auto 3em;
    float: none;
    max-width: 1170px;
  }

  @media (max-width: 1169px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}
