.entity-paragraphs-item {
  margin-bottom: 3em;
}

.entity-paragraphs-item.center {
  margin: 0 auto 3em;
  float: none;
}

.paragraphs-item-p-hero {
  > .content {
    position: relative;

    .player {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .field-name-field-p-hero-image img {
      width: 100%;
    }
  }

  .group-overlay-text {
    position: absolute;
    background-color: #ffffff;
    padding: 40px;
  }

  .group-overlay-text .field-name-field-p-hero-superhead {
    font-size: 2.4em;
    font-weight: 400;
    letter-spacing: -.5px;
    line-height: 1.2em;
  }

  &.overlay-top .group-overlay-text {
    top: 20px;
  }

  &.overlay-bottom .group-overlay-text {
    bottom: 20px;
  }

  &.overlay-left .group-overlay-text {
    left: 20px;
  }

  &.overlay-right .group-overlay-text {
    right: 20px;
  }

  a.play-video {
    display: block;
    position: absolute;
    font-size: 0;
    right: 45%;
    top: 45%;
    color: #ffffff;

    &:focus,
    &:hover {
      color: #b6b1a9;
      text-decoration: none;
    }

    i:before {
      font-size: 140px;
    }
  }

  .field-name-field-p-hero-video:nth-child(2) {
    display: none;
  }

  .field-name-field-p-hero-superhead {
    margin-bottom: 0;
  }
}

.paragraphs-item-p-buttons {
  text-align: center;

  .field-item {
    margin-bottom: 30px;
  }
}

.paragraphs-item-p-callout {
  text-align: center;

  p {
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 600;
  }
}

.paragraphs-item-p-cards {
  .field-item .field-collection-view {
    padding: 0 10px;
  }

  .field-item:first-child .field-collection-view {
    padding: 0 10px 0 0;
  }

  .field-item:last-child .field-collection-view {
    padding: 0 0 0 10px;
  }

  img {
    margin: 0 auto;
    display: block;
  }
}

.paragraphs-item-p-wysiwyg {
  .group-left-column {
    margin-left: 0;
  }

  .group-right-column {
    text-align: center;
  }

  .group-p-wysiwyg-body {
    margin-left: 0;
  }
}

.paragraphs-item-p-menu {
  .group-featured-image {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    max-width: 270px;

    div.field {
      margin-bottom: 0;
    }
  }
}

.paragraphs-item-p-buttons {
  .btn a,
  a.btn {
    padding: 1.5em 2em;
    font-size: 1.2em;
    line-height: 1.2em;
  }
}

@media (max-width: 767px) {
  .paragraphs-item-p-hero {
    .group-overlay-text {
      position: static;
    }

    a.play-video {
      right: 43%;
      top: 40%;
    }
  }

  .paragraphs-item-p-cards {
    .field-item .field-collection-view,
    .field-item:first-child .field-collection-view,
    .field-item:last-child .field-collection-view {
      padding: 0;
    }

    .field-name-field-p-card-cta,
    .field-name-field-p-card-text {
      padding: 0 1em;
    }

    .group-card-title {
      padding: 0 0.6em;
    }
  }

  .paragraphs-item-p-menu {
    padding: 0 1em;

    .group-menu-column.field-group-div {
      display: none;
    }
  }

  .paragraphs-item-p-buttons {
    padding: 0 1em;

    .btn a,
    a.btn {
      width: 100%;
      padding: 1.5em 0;
    }
  }

  .paragraphs-item-p-wysiwyg {
    padding: 0 1em;
  }

}

@media (max-width: 480px) {
  .paragraphs-item-p-hero {
    a.play-video {
      right: 37%;
      top: 30%;
    }
  }
}
