.paragraphs-item-p-callout {
  text-align: center;
  .center {
    margin: 0 auto 3em;
    float: none;
  }

  &.entity-paragraphs-item.entity {
    margin-bottom: 0;
    padding-top: 1.5em;
  }

  p {
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 600;
  }

  a.more-link {
    font-weight: 900;
    &:hover, &:focus {
      font-weight: 600;
    }
  }

  &.color-background {
    a {
      text-decoration: underline;
    }
  }

  &.cool-gray {
    background-color: #4D4F53;
    color: #ffffff;
    a, a:hover, a:focus {
      color: #ffffff;
    }
  }

  &.light-taupe {
    background-color: #d5d0c0;
    color: #333333;
    a, a:hover, a:focus {
      color: #333333;
    }
  }
  &.bright-green {
    background-color: #009B76;
    color: #ffffff;
    a, a:hover, a:focus {
      color: #ffffff;
    }
  }
  &.bright-blue {
    background-color: #0f6c91;
    color: #ffffff;
    a, a:hover, a:focus {
      color: #ffffff;
    }
  }
  &.bright-yellow {
    background-color: #EAAB00;
    color: #333333;
    a, a:hover, a:focus {
      color: #333333;
    }
  }
  &.bright-orange {
    background-color: #E98300;
    color: #333333;
    a, a:hover, a:focus {
      color: #333333;
    }
  }

}
