.paragraphs-item-p-slideshow {
  .field-slideshow-wrapper {
    position: relative;
  }

  // Have to use important to override javascript width.
  .field-slideshow {
    width: 100% !important;
    padding-bottom: 0 !important;
  }

  .field-slideshow-caption {
    position: absolute;
    z-index: 10;
    bottom: 0;
    text-align: center;
    width: calc(100% - 80px);
    padding:40px;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    background: rgba(0, 0, 0, .3);
    height: 100%;
    line-height: 1.5em;

    @media(max-width: 768px) {
      font-size: 5vw;
      position: relative;
      background: transparent;
      color: #000;
    }
  }

  .field-slideshow-caption-text {
    top: 50%;
    position: relative;
    max-width: 1170px;
    display: block;
    margin: 0 auto;

    @media(min-width: 900px) and (max-width: 1170px) {
      top: 30%
    }

    @media(max-width: 900px) {
      top: 20%;
    }
  }

  .field-slideshow-pager {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    text-align: center;
    width: 100%;

    @media(max-width: 768px) {
      position: relative;
      bottom: 0;
    }

    a {
      font-size: 0;
      width: 20px;
      height: 20px;
      display: inline-block;
      background-color: #b1040e;
      border-radius: 15px;
      margin-right: 10px;

      &.activeSlide {
        background-color: #ccc;
      }
    }
  }

  .field-slideshow-controls {
    position: absolute;
    top: calc(50% - 15px);
    z-index: 10;
    width: 100%;
    font-size: 0;

    a {
      border: solid #b1040e;
      border-width: 0 5px 5px 0;
      display: block;
      padding: 3px;
      height: 20px;
      width: 20px;
    }

    .next {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      float: right;
      margin-right: 20px;
    }

    .prev {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      float: left;
      margin-left: 20px;
    }
  }

}